<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form action="/registrationAction" method="post">
        <h3>Регистрация</h3>
        <span style="color: red" th:text="${UserAlreadyExist}"></span>
        <br>
        <input type="text" name="login" placeholder="Логин">
        <input type="text" name="name" placeholder="Имя">
        <input type="text" name="surname" placeholder="Фамилия">
        <input type="password" name="password" placeholder="Пароль">
         <!-- <input type="text" name="role" placeholder="ROLE_ADMIN or ROLE_USER?"> -->
        <br>
        <a href = "/login">Вы уже зарегистрированы?</a>
        <br>
        <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>