<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Настройки профиля</title>
</head>
<body>
<form action="/updateDataAboutUser" method="post">
    <h3>Изменение данных</h3>


    <label>
        Ваш вес:
        <input type="text" name="weight" th:value="${weight}" >
    </label><br>
    <label>
        Ваш рост:
        <input type="text" name="height" th:value="${height}">
    </label><br>
    <label>
        Ваш возраст:
        <input type="text" name="age" th:value="${age}">
    </label>


   <br>Ваш пол:
    <label name="isMan">
        <input type="radio" name="isMan" th:checked="${chM}" value="true"/>
        Мужской
    </label>
    <label name="isMan">
        <input type="radio" name="isMan" th:checked="${chW}" value="false"/>
        Женский
    </label>


    <br><br>
    <label>
        Активность:
        <select name="activity">
            <option th:attr="selected=${ac1}" value="1.2">Сидячий образ жизни</option>
            <option th:attr="selected=${ac2}" value="1.375">Умеренная активность (легкие физические нагрузки либо занятия 1-3 раз в неделю)</option>
            <option th:attr="selected=${ac3}" value="1.55">Средняя активность (занятия 3-5 раз в неделю)</option>
            <option th:attr="selected=${ac4}" value="1.725">Активные люди (интенсивные нагрузки, занятия 6-7 раз в неделю)</option>
            <option th:attr="selected=${ac5}" value="1.9">Спортсмены и люди, выполняющие нагрузки (6-7 раз в неделю)</option>
        </select>
    </label>
    <br>


    <br><br>
    <div><input type="submit" value="Применить изменения    "/></div>

</form>

</body>
</html>